* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #212121;
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container{
  height: 350px;
  width: 350px;
  background-color:cornsilk ;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.sub-container h1{
  align-items: center;
  justify-content: center;
}
.sub-container button{
  width: 80px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #212121;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.sub-container h2{
  margin: 20px 0;
}
.sub-container button:hover{
  background-color: #333333;
  
}